/* -------- Universal / Global Attributes -------- */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}


body, main, html {
  height: 100vh;
  margin: auto;
}



p {
  display: block;
  font-size: 1.5vw ;
  max-width:100%;
  height: auto;
  margin: 10px auto;
  text-align: justify;
}

a {
  text-decoration: none;
}





/* -------- Landing Hero & Section Headers -------- */
/*image credit to @thewittlesheep on x/twitter - former stream graphic artist for twitch streamers 
--this is an old banner of mine I commissioned when I used to live-stream that I have rights to use*/

.header {
    background-image: url("../images/bethBaxleySunset.jpeg");
    height: 100vh;
    width: 100%;
    padding: 40vh; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x:center;
    margin: -100px 0 0 0;

}





h1 {
  display: inline-block;
  letter-spacing: 5px;
  font-weight: 500;
  font-size: 8vw;
  background: -webkit-linear-gradient(#E37C86, #8C5B94);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: rotate(-90deg);
  margin-left: -200px;
  text-transform: uppercase;
  position: relative;
}


.border {
  border-bottom: 50px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-image: linear-gradient(to left,#E37C86, #8C5B94) 1;
}


/*contact h2 design from https://codepen.io/vedadesigns/pen/GPxYZg with small tweaks to match theme */
.conh2 {
  margin-left: 245px;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
}

.conh2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 55px;
  background-color: #111;
}

.conh2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 225px;
  background-color: #333;
}



.conh2 img {
  width: 45px;
  height: auto;
}




/* -------- Navigation -------- */

nav {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;

      }
  
  nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  }
  
  nav ul li {
    display: inline-flex;
    flex-wrap: wrap;
  }
  
  nav ul li a { 
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform:uppercase;
    color: rgba(28, 33, 47, 0.5);
    font-size: 32px;
    text-decoration: none;
    display: block;
  }
  
  nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
  }

  nav.sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}


/* -------- Body -- 3 main sections - about / port (grid for cards here) / contact -------- */


.my-sections {
  height: 100vh;
  width: 100%;
  padding: 40vh; 
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  align-items: center;
  overflow: hidden;
  
}

.section-head {
  max-width: 300px;
  display: flex;
  flex: 1 1 300px;
}

.text-box1 {
  display: flex;
  flex-wrap: wrap-reverse;
  width: auto;
  height: auto;
  padding: 30px;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  overflow: hidden;
}

.text-box2 {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.text-box3 {
  display: flex;
  flex-wrap: nowrap;
  width: auto;
  height: auto;
  padding: 30px;
}


.port-grid {
  display: grid;
  margin: auto;
  min-height: 60vh;
  width: 85%;
  grid-template-columns: repeat(4, minmax(270px, 1fr));
 /* grid-template-rows: repeat(4, 1fr); */
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  }

.work{
  background-color: salmon;
  background-image: url("../images/textbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 300ms;
  border-radius: 35px;
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.p-a { 
  grid-column: 1 / 3; 
  background-image: url("../images/Screenshot\ 2024-03-14\ 201353.png");
  background-position: 0px -2px;
}

/*
.p-b { grid-area: 1 / 3 / 3 / 4; }
.p-c { grid-area: 1 / 4 / 3 / 5; }
.p-d { grid-area: 3 / 1 / 5 / 2; }
.p-e { grid-area: 3 / 2 / 5 / 3; }
.p-f { grid-area: 3 / 3 / 5 / 4; }
.p-g { grid-area: 3 / 4 / 5 / 5; }*/

.text-box1 p {
  float:left;
  width: 50%;
}

.text-box1 img{
  float: right;
  width: 38%;
}



.devImg{
  display: inline-block;
  width: 100%;
  padding: 6px;
  background: rgba(192, 111, 117, 0.5);
  border-radius: 50em;
  box-shadow: 1px 1px 2px  rgba(40, 40, 40, 0.8);
  -moz-box-shadow: 1px 1px 2px  rgba(40, 40, 40, 0.8);
  -webkit-box-shadow: 1px 1px 2px rgba(40, 40, 40, 0.8);
}




/* -------- Portfolio Card Hover Effects -------- */
/* Custom effect from https://github.com/miketricking/bootstrap-image-hover  -- Hover Effect 12 
--some slight adjustments made by me to match my overall theme and to work properly with hovering grid cells */


.work .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(232, 160, 141, 0.3);
  -webkit-transition: all 0.8s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.85s  cubic-bezier(0.88,-0.99, 0, 1.81);
}

.work:hover .overlay {
   background-color: rgba(139, 122, 170, 0.4);
}

.work img {
  display: block;
  position: relative;
}

.work h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 25px;
  padding: 10px;
  margin-bottom: 0;
  background: rgba(231, 166, 125, 0.8);
  -webkit-transform: translateY(250px);
  -ms-transform: translateY(250px);
  transform: translateY(250px);
  -webkit-transition: all 0.85s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.85s  cubic-bezier(0.88,-0.99, 0, 1.81);
}

.work:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}







/* -------- responsive changes --------*/
@media screen and (min-width: 1200px) {
  .header .my-sections {
    height: 100vh;
    width: 100%;
    padding: 40vh; 
  }
  
}

@media screen and (min-width: 992px) {
  .header .my-sections {
    height: 100vh;
    width: 100%;
    padding: 40vh; 
  }
}

@media screen and (min-width: 768px) {
  .header .my-sections {
    height: 100vh;
    width: 100%;
    padding: 40vh; 
  }
}


@media screen and (min-width: 600px) {
  .header .my-sections {
    height: 100vh;
    width: 100%;
    padding: 40vh; 
  }
}

@media screen and (max-width: 600px) {
  .header .my-sections {
    height: 100vh;
    width: 100%;
    padding: 40vh; 
  }
}

@media screen and (max-width: 420px) {
  .header .my-sections {
    height: 100vh;
    width: 100%;
    padding: 40vh; 
  }
}

@media screen and (max-width: 320px) {
  .header .my-sections {
    height: 100vh;
    width: 100%;
    padding: 40vh; 
  }
}